In [2]:
mystring = 'hello'

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist = [m for m in mystring]

In [9]:
mylist

['h', 'e', 'l', 'l', 'o']

In [1]:
mylist = [x for x in "word"]

In [2]:
mylist

['w', 'o', 'r', 'd']

In [5]:
mylist = [num for num in range(0,11)]

In [6]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
mylist = [num**2 for num in range(0,11)]   #can run another operationg on the the first varriable ie Squaring the list

In [8]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
mylist = [x for x in range(0,11) if x%2==0] #adding an if statment for even numbers

In [17]:
mylist

[0, 2, 4, 6, 8, 10]

In [18]:
celcius = [0,10,20,34.5, 41]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [19]:
fahrenheit

[32.0, 50.0, 68.0, 94.1, 105.8]

same as using a for loop

In [20]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [21]:
fahrenheit

[32.0, 50.0, 68.0, 94.1, 105.8]

if else statement can by tricky to read in list comprehension

In [22]:
results = [x if x%2==0 else 'Odd' for x in range(0,11)]

In [23]:
results

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [25]:
mylist = []

for x in [2,4,6]:
    for y in [1, 10, 100]:
        mylist.append(x*y)

In [26]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [27]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [28]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]